html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
    margin:0;
    padding:0;
}
body{
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size:cover;
    font-family: 'Source Sans Pro', sans-serif;
}
html,body{
    height: 100%;
}
#container{
    position: relative;
    top:50%;
    width: 66%;
    height: 30em;
    margin: -15em auto;
    padding: 1em 0;

}
.have, .nohave{
    height: 100%;
    width: 50%;
    float:left;
}
.text{
    padding: 4em;
    height: 100%;
}
.wrapper{
    height: 100%;
    background: rgba(15,26,47,0.9);
    color: white;
}
hr{
    margin: 1em 0;
    border: none;
    border-top: 2px solid rgb(73,171,254);
    width: 16%;
    display: inline-block;
    text-align: left;
}
div.text h2{
    font-weight: 100;
}
div.text a{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(73,171,254);
    padding: 1em 3em;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
div.text a:hover{
    background-color: rgb(73,171,254);
}
.wrapper:after{
    content: '';
    display: block;
    clear: both;
}
#form-container{
    position: absolute;
    top:0;
    bottom: 0;
    right:1em;
    height: 100%;
    background: white;
    width: 50%;
}
#signup-form{
    display: none;
}
#login-form,#signup-form{
    background-color: white;
    position: absolute;
    height: 100%;
    overflow: visible;
}
#signup-form h2,#login-form h2,h3{
    color:rgb(62,73,94);
}
.form-text{
    height: inherit;
    padding: 5em 4em;
}
h2 img,form img, form a{
    float:right;
}
form a{
    text-decoration: none;
    color: rgb(179,188,209);
}
p{
    padding: 0 0 2em 0;
    line-height: 2em;
}
label {
    color: rgb(179,188,209);
}
input{
    width: 100%;
    border:none;
    background-color: transparent;
    border-bottom:1px solid rgb(203,210,223);
    padding-bottom: 0.8em;
    margin-bottom: 1em;
}
input.form-btn{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(248,154,53);
    padding: 1em 3em;
    font-size: smaller;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    width: auto;
}
input.form-btn:hover{
    background-color: rgb(248,191,53);
}
img:nth-child(4n+3){
    display: none;
}
label:after{
    content: "*";
    color: #f00;
}
footer, .push{
    height: 3em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(156,178,202,0.8);
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-weight: bold;
}
@media screen
and (max-width: 530px)
{
    #container{
        left: 0;
        top:0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background-color:rgba(15,26,47,0.9);;
    }
    .wrapper{
        background-color: transparent;
    }
    .have, .nohave{
        width: 100%;
        float: none;
        display: block;
    }
    .text{
        padding: 1em 4em;
    }
    .text p, .text hr{
        display: none;
    }
    .text h2{
        padding: 1em 0;
    }
    #form-container{
        background-color:transparent;
        width: 100%;
        top:0;
        right: 0;
        left:0;
        position: relative;
        display: inline-block;
    }
    #login-form,#signup-form{
        background-color: transparent;
        position: relative;
    }
    .form-text{
        background-color: rgba(255,255,255,0.8);
        padding: 1em 4em;
    }
    input{
        border: none;
        border-bottom:1px solid rgb(15,26,47);
    }
    label{
        color: rgb(15,26,47);
    }
    .push{
        height: 0;
    }
    footer{
        position: relative;
        height: 3em;
        width: 100%;
        text-align: center;
    }
}
@media screen
and (min-width: 530px)
and (max-width: 785px)
{
    #container{
        left: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: absolute;
        margin-top:0;
        top:10%;
    }
    .wrapper{
        height: inherit;
    }
    .wrapper{
    }
    #form-container{
        height: 100%;
    }
    .text{
        height: 100%;
    }
    footer, .push{
        position: absolute;
        height: 4em;
        width: 40%;
        left:25%;
        text-align: center;
    }
}